{% extends 'auth.html' %}

{% load static %}


{% block form_title %}Reset Password{% endblock form_title %}

{% block content %}

<div class="card-content">
    <div class="card-body">
        <form class="form-horizontal form-simple" action="" method="post">
            {% csrf_token %}
            <div id="toast">
                {% for message in messages %}
                <div class="alert alert-info" role="alert"><strong></strong><i>{{ message }}</i></div>
                {% endfor %}
            </div>
            <fieldset class="form-group position-relative has-icon-left mb-2">
                <input type="password" name="new_password1" class="form-control"
                       placeholder="Enter Password" required="">
                <div class="form-control-position">
                    <i class="la la-key"></i>
                </div>
            </fieldset>
            <fieldset class="form-group position-relative has-icon-left">
                <input type="password" class="form-control" name="new_password1"
                       placeholder="Confirm Password" required="">
                <div class="form-control-position">
                    <i class="la la-key"></i>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary btn-block"><i class="la la-paper-plane"></i>
                Submit
            </button>
        </form>
    </div>
</div>

{% endblock content %}